body {
  background-image: url(https://r-cf.bstatic.com/images/hotel/max1024x768/736/7360036.jpg);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: top;
  font-size: 8mm;
}
#boarder {
  width: 600px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-left: 173mm;
  margin-top: 10px;
  margin-bottom: 0px;
  display: grid;
  justify-content: center;
}
#msg1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: green;
}
#hotel1 {
  font-style: italic;
  font-size: 8mm;
  margin-top: 30px;
}
#hotel2 {
  color: black;
  font-style: italic;
  font-size: 8mm;
  margin-bottom: 30px;
}
#hotel1:hover {
  color:gold;
}
#hotel2:hover {
  color: red;
}
